{% extends "layout.html" %}

{% block body_content %}
    <div>
        <table class="table" style="width:80%;table-layout: fixed;margin-left:auto;margin-right:auto;">
            <colgroup>
                <col span="1" style="width: 10%;border-style: solid;border-color: black">
                <col span="1" style="width: 10%;border-style: solid;border-color: black">
                <col span="1" style="width: 10%;border-style: solid;border-color: black">
                <col span="1" style="width: 40%;border-style: solid;border-color: black">
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 5%;">
            </colgroup>

            <tr>
                <th>Title</th>&nbsp;
                <th>Author</th>&nbsp;
                <th>Publisher</th>&nbsp;
                <th>Synopsis</th>&nbsp;
            </tr>
            {% for book in books.items %}
                <tr class="tabletext">
                    <td><p><b>{{ book.b_Title }}</b></p></td>
                    <td><p>{{ book.books.a_Author }}</p></td>
                    <td><p>{{ book.b_Publisher }}</p></td>
                    <td><p>{{ book.b_Synopsis }}</p></td>
                    <td>
                        <form action="{{ url_for('updatebook', bookid=book.id) }}">
                            <button type="submit">Update</button>
                        </form>
                    </td>
                    <td>
                        <form action="{{ url_for('deletebook', bookid=book.id) }}">
                            <button onclick="return confirm('Are you sure you want to Delete Book?');" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% if books.has_prev %}<a href="{{ url_for('home', page=books.prev_num) }}">&lt;&lt; Previous</a>{% else %}&lt;&lt; Previous{% endif %} |
        {% if books.has_next %}<a href="{{ url_for('home', page=books.next_num) }}">Next &gt;&gt;</a>{% else %}Next &gt;&gt;{% endif %}
    </div>
{% endblock %}